.feature {
    text-align: center;
}

.feature__img {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.feature__text {
    color: #2f3234;
    @include ubuntu(light);
}

.feature__title {
    @include lifehack();
    font-size: 24px;

}