.section {
    height: 100vh;
    display: flex;
    overflow: hidden;
    // flex-direction: column;
    // justify-content: center;
    min-height: rem(650px);
    position: relative;
    // &--align--top {
    // justify-content: flex-start;
    // }

}

.section__title {
    font-size: rem(72px);
    color: $yellow;
    margin-bottom: rem(12px);
    // line-height: 1;
    // text-transform: uppercase;
    @include gagalin();
    
    // line-height: 1;
    
    // &--centered {
    //     text-align: center;
    // }

    // &--color--black {
    //     color: $black;
    // }

    &.section__title_black {
        color: $black;
    }

    &.section__title_white {
        color: #ffffff;
    }
}

