    .slider {
        background: gradient( #f9b33b 0%, #ea8c38 48%, #f9b33b 74%);
        background-size: cover;
        text-align: center;
        display: flex;
        align-items: center;
        background-position: center center;
    

    }