.video {
    background: url("../../burger/img/bgvideo.png") center center no-repeat;
    text-align: center;
    display: flex;
    align-items: center;
    background-position: center center;
    background-size: cover;
}     
     